// app global css in SCSS form

body {
  font-size: 1rem; // This allows us to increase and decrease text within the left menu
  color: #333333;
  h1 {
    font-size: 4.5rem;

    
  }
}

.body--light {
  background-color: #ECECFA;
}

.body--dark {
  /* ... */
}

.page-with-transparent-header {
  margin-top: -92px;
}